@media only screen and (min-width: 992px) and (max-width: 1200px) { 
	.iphone .iphone-photo{
		margin-top: 20px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) { 
	#header{
		p{
			font-size: 32px;
		}
	}
	h1{
		font-size: 50px;
		margin-bottom: 10px;
	}
	section{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.comment{
		margin-bottom: 40px;
	}
}
@media only screen and (max-width: 768px) { 
	#header{
		.header-top{
			padding-bottom: 250px;
		}
		p{
			font-size: 22px;
		}
	}
	.logo{
		margin-left: 15px;
	}
	h1{
		font-size: 40px;
		margin-bottom: 10px;
	}
	section{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.comment{
		margin-bottom: 40px;
	}
	.navigation{
		display: none;
	}
	.slicknav_menu {
		display:block;
	}
	section h3{
		margin-left: 40px;
	}
	.features .features-content {
		margin-bottom: 20px;
		margin-left: 0;
		i{
			left: 0;
		}
	}
	.ionTabs__tab{
		margin-right: 0;
	}
	.hello h3{
		margin-left: 0;
	}
}
